extends layout/layout
block styles
	link(rel='stylesheet', href='/css/bootstrap-datepicker.css')
block content
	.row.page-title-wrapper
		h1.page-header Weekly Report
		.row.page-title-tools
			.col-xs-7
				#datepicker.input-daterange.input-group
					input#start.input-sm.form-control(type='text' name='start' value='#{start}')
					span.input-group-addon to
					input#end.input-sm.form-control(type='text' name='end' value='#{end}')
			.col-xs-2
				button.btn.btn-default.btn-sm(onclick='reload()')
					span.glyphicon.glyphicon-repeat
					|&nbsp;Reload
	.row
		.col-xs-12
			if data
				.panel.panel-default
					.panel-heading Changes
					.panel-body#changes
						ul
							each team, i in data
								if team.users && team.users.length > 0
									li #{team.name}
										each user, j in team.users
											ul  #{user.name}
												| &nbsp;
												a(title="Changes" href="https://ecomsvn.officedepot.com/user/#{user.username}" target="_blank")
													li.fa.fa-external-link
														| 
												| &nbsp;
												a(title="Activities" href="https://officedepot.atlassian.net/secure/ViewProfile.jspa?name=#{user.username}")
													li.fa.fa-external-link-square
														| 
												each changes, k in user.jiras
													li
														if '[NON-JIRA]' != k
															a.jira(href='https://officedepot.atlassian.net/browse/#{k}') #{k}
														else
															| #{k}
														each jira, l in changes
															ul [#{moment(jira.date).format('YYYY-MM-DD HH:mm')}] #{jira.message}
block scripts
	script(src='/js/bootstrap/bootstrap-datepicker.js')
	script(src='/js/teamate/report.js')
