tr
	td
		span.color-box(style="background-color:##{color}")
		| #{name}
	td
		a.btn.btn-info.btn-xs(href="#" onclick="editCategory('#{_id}', '#{name}', '#{color}')")
			i.glyphicon.glyphicon-edit
		a.btn.btn-warning.btn-xs(data-target="#confirm-delete" data-toggle="modal" href="#" data-onclick="deleteCategory('#{_id}')")
			i.glyphicon.glyphicon-remove