.panel.panel-default(id='#{_id}')
	.panel-heading
		i.fa.fa-users.fa-fw &nbsp;
		span #{name}
		.pull-right
			.btn-group
				button.btn.btn-default.btn-xs.dropdown-toggle(data-toggle='dropdown' type='button')
					| Actions
					span.caret
				ul.dropdown-menu.pull-right(role='dropdown')
					li
						a(href='#' data-toggle='modal', data-target='#teamModal' data-id='#{_id}', data-name='#{name}') Edit
					li
						a(href='#' data-toggle='modal' data-target='#confirm-delete' data-id='#{_id}') Delete
	.panel-body
